.writeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 10px;
  background-color: #e5753d;
}

*:focus {
  border: 3px solid #faad60;
  outline: none;
}

textarea {
  flex-grow: 3;
  height: 40px;
  outline: none;
  box-sizing:border-box;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  resize: none;
  border: 1px solid #ffcc99;
}

.checkBox:focus {
  border: 3px solid #f0844f;
}

.checkBox {
  display: flex;
  font-size: 0.6em;
  align-self: center;
  text-align: center;
}

.checkInput {
  color: hotpink;
  border: 10px solid hotpink;
}

label {
  letter-spacing: 1px;
  align-self: center;
}

button {
  font-size: 0.7em;
  margin: 5px;
  padding: 5px;
  align-self: center;
  background: #fdce9e;
  border: 1px solid #e5753d;
  border-radius: 2px;
  color: #e5753d;
  height: 40px;
  border-radius: 5px;
}