.writeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 10px;
  background-color: #e5753d;
}

textarea {
  flex-grow: 3;
  height: 40px;
  outline: none;
  box-sizing:border-box;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  resize: none;
  border: 1px solid #ffcc99;
}

CheckBox {
  flex-grow: 1;
}

textarea:focus {
  border: 2px solid #ffcc99;
}

label.checkBox {
  font-size: 0.6em;
  align-self: flex-end;
}
input[type=checkbox] {
  background-color: cornflowerblue;
}

button {
  font-size: 0.7em;
  margin: 5px;
  padding: 5px;
  align-self: center;
  background: #fdce9e;
  border: 1px solid #e5753d;
  border-radius: 2px;
  color: #e5753d;
  height: 40px;
  border-radius: 5px;
}